<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
{% load crispy_forms_tags %}
<body class="bg-gradient-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row  min-height-50vh">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6 align-items-center flex">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h2 text-gray-900 mb-4">Reset Password</h1>
                                    <p class="mb-4">We have sended you reset password link on your email. Please Check Your Email.</p>
                                    <div class="user">
                                        <a class="btn btn-success btn-user btn-block" href="{% url 'LoginView' %}">Back to Login Page</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer-scripts.html" %}
</body>
</html>
