{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- DataTales Childs -->
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            {% if editors %}
            <table class="table table-bordered children-table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="child-photo">Photo</th>
                        <th>Login</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Groups</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Photo</th>
                        <th>Login</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Groups</th>
                    </tr>
                </tfoot>
                <tbody>
                      {% for editor in editors %}
                            <tr>
                                <td class="child-photo">
                                    {% if editor.profile.avatar %}
                                    <img src="{{editor.profile.avatar.url}}" class="rounded" height="80px">
                                    {% else %}
                                    <img src="{% static 'img/undraw_profile.svg' %}" class="rounded" height="80px">
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'UsersDetailsView' pk=editor.pk %}">{{editor.username}}</a></td>
                                <td><a href="{% url 'UsersDetailsView' pk=editor.pk %}">{{editor.first_name}}</a></td>
                                <td><a href="{% url 'UsersDetailsView' pk=editor.pk %}">{{editor.last_name}}</a></td>
                                <td>{{editor.email}}</td>
                                <td>
                                    {% for group in editor.groups.all %}
                                        <span class="group-name">{{group}}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h5 class="m-0 font-weight-bold text-primary">No data available yet</h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}